.preStyle{
  margin-top: 10px;
  padding-bottom: 25px;
  font-size: 15px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding-top: 9.5px;
  padding-right: 9.5px;
  padding-left: 9.5px;
}
.ant-card-actions > li {
  height: 22px;
}